html,body{margin: 0; padding: 0; height: 100%;}
header{text-align: center; color: blueviolet; width: 100%; height: 10%;}
nav{height: 7%; width: 100%; background-color:aqua;}
section{width: 80%; height:75%; margin-left:10%;}
footer{background-color: gray;width: 100%; height: 8%;}
#box1{box-sizing:border-box; width:30%;height: 100%; background-color: rgb(157, 233, 175);float: left}
#box2{box-sizing:border-box; width:70%;height:100%;background-color: rgb(179, 236, 236);float:right;}
section div h1{text-align: center;margin:0px; border-bottom: 1px dotted; padding: 10px 0px;}
#smallBox1{box-sizing: border-box;width:94%;height:100%;);margin-left: 14px;}
nav div{margin:auto;top:50%;width:70%;padding-top:14px;}
#boxa {box-sizing: border-box; height:250px;}
#exp1,#exp2{float: right; width:50% ;height: 70%;}
#img1{box-sizing: border-box; width: 100%; height:300px;}
#but{border: 0;outline: 0;background-color: aqua; font-size: 20px;font-weight: bold;margin-left: 150px;}